@model List<Projeto.Repository.Entities.Produto>

@{
    ViewData["Title"] = "Consulta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Consulta de Produtos</h1>
<br />
<br />
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Nome do Produto</th>
            <th>Preço</th>
            <th>Operações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Nome</td>
            <td>R$@item.Preco.ToString("F2")</td>
            <td>
                <a asp-controller="Produto" asp-action="Edicao" asp-route-id="@item.IdProduto" class="btn btn-primary btn-sm">Atualizar</a>
                <a asp-controller="Produto" asp-action="Exclusao" asp-route-id="@item.IdProduto" class="btn btn-danger btn-sm" onclick="return confirm('Deseja realmente excluir o produto @item.Nome ?')">Excluir</a>
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">Quantidade total de produtos: @Model.Count()</td>
        </tr>
    </tfoot>
</table>

